packages/
local/
[Bb]in/
[Oo]bj/
.idea/
*.user
.suo
.vs

!**/wwwroot/bin/**
!**/wwwroot/lib/bin/**

RobotTests/log\.html

*.xml


RobotTests/ServerError\.txt

RobotTests/ServerOut\.txt

*.log

*.png
/RobotTests/PortraitModeTests/Debug.robot

RobotTests/PortraitModeTests/ServerError\.txt

RobotTests/PortraitModeTests/ServerOut\.txt

RobotTests/report\.html

RobotTests/PortraitModeTests/report\.html

RobotTests/PortraitModeTests/log\.html
